.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  min-width: 550px;
  background-color: gray;
  margin-bottom: 10px;

  border-radius: 10px;
}

.nav-item {
  height: 28px;
  font-size: larger;
  font-weight: 400;
  text-transform: capitalize;
  min-width: 70px;
  width: auto;
  padding:7px;
  line-height:20px;
  background-color: black;
  color: white;
  text-align: center;
  margin-left: 5px;
  border-radius: 10px;
  text-decoration: none;
}

.nav-item:hover {
  opacity: 0.74;
}
